:host {
  display: block;
  
  h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 48px;
  }
}

.buttons-section {
  margin-top: 24px;
  display: flex;
  flex-direction: row-reverse;
}


.confirm-button {
  margin-right: 24px;
}